langchain==0.3.19
langchain-core==0.3.37
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
langsmith==0.3.10
MarkupSafe==3.0.2
morph-data==0.2.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.64.0
PyMySQL==1.1.1
sqlglot==25.34.1
tqdm==4.67.1